<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/Onboardly-homepage-Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboardly</title>
</head>
<body>
    <header id="header" class="main-header">
        <div class="logo">OnBoardly</div>
        <nav>
            
          <a href="OnBoardly-homepage.html">Home</a>
            <a href="aboutus.html">About Us</a>
        </nav>
    </header>
    
    <section class="hero">
        <h1>Welcome to OnBoardly</h1>
        <p>Streamline your onboarding process and boost team efficiency.</p>
        <div class="buttons-container">
        <a href="register.html" class="cta-link" id="joinUsLink">Join</a>
        <a href="login.html" class="cta-link login-link" id="loginLink">Login</a>
      </div>
    </section>

    <footer id="footer" class="main-footer">
        <p>&copy; 2025 OnBoardly. All rights reserved.</p>
    </footer>
</body>
</html>
