/* Root Variables */
:root {
    --color-primary: #004085;
    --color-primary-light: #0069d9;
    --color-accent: #28a745;
    --color-accent-hover: #218838;
    --color-background: #f9f9f9;
    --color-text: #333;
    --color-white: #fff;
    --color-card-bg: #f1f4f9; /* Subtle tinted background for cards */
    --color-border: #d1d5db; /* Light gray for borders */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary));
}

.container {
    background-color: var(--color-white);
    border-radius: 12px;
    width: 80%;
    height: 80vh;
    max-width: 1400px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

.content-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Team and Process Containers */
.left-container, .right-container {
    width: 45%;
    padding: 20px;
    border: 1px solid var(--color-border); /* Subtle border */
    border-radius: 8px;
    background-color: var(--color-card-bg); /* Subtle tinted background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Elegant shadow effect */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-container:hover, .right-container:hover {
    transform: translateY(-3px); /* Gentle float effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly enhanced shadow on hover */
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-text);
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text);
    transition: background-color 0.3s;
}

li:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
}

/* Button Group */
.button-group {
    display: flex;
    gap: 15px; /* Space between buttons */
    margin-top: 20px; /* Space above the buttons */
    justify-content: center; /* Center align the buttons */
}

/* Buttons */
.add-button, .edit-button {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-align: center;
    border: none;
}

.add-button:hover, .edit-button:hover {
    transform: scale(1.05);
    background-color: var(--color-primary-light);
}
